<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Planets and their mass</h1>
<table class="centeredTable">
    <tr>
        <th id="planet">Planet Name</th>
        <th id="years">Length of Year</th>
    </tr>
    <tr th:each="planet : ${planets}">
        <td>
<!--            <ul th:each="planet : ${planets}" th:text="${planet.name} + ' ' + ${planet.lightYear}"></ul>-->
            <ul th:text="${planet.name}"></ul>
        </td>
        <td>
            <ul th:text="${planet.yearLength}"></ul>
        </td>
    </tr>
</table>
<!--    <ul>-->
<!--        <li th:each="planet : ${planets}" th:text="${planet.name}"></li>-->
<!--    </ul>-->

</body>
</html>

